.online-user-list, .online-user-list ul {
  display: flex;
}
.online-user-list {
  margin: 0;
  height: 68px;
  background-color: #a8c3c3 !important;
}
.online-user-list ul {
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px;
}
.online-user-list li{
  display: inline-block;
}
.online-user-list img{
  margin: 4px;
  width: 50px;
}
.online-users-number{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.online-users-number i{
  font-size: 50px;
  padding-right: 10px;
}


/* ChatHistory styles */
.collection {
 margin-bottom:130px;
 margin-top: -1px;
}
.message-date {
  color: #585858;
}
body {
  background: #EEEEEE;
}
.circle {
  width: 150px;
  height: 150px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}